@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Monomakh&display=swap');
@import "tailwindcss";
body{
    font-family: "Exo", sans-serif; 
    background-color: #1f2937;
    overflow-x: hidden;
    overflow-y: auto;
}